$text-font: 'Roboto', sans-serif;

// colors 
$text-color: #262626;
$icon-color: #383838;
$grey-color: #8E8E8E;
$background-insta-color: #fafafa;
$background-input-color: #f1f1f1;
$blue-color: #0094f6;
$grey-border-color: #dbdbdb;

$header-height: 45px;

@mixin flex-center($justify-content) {
    display: flex;
    align-items: center;

    @if $justify-content == true {
        justify-content: center;
    }
}