#header {
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
    box-shadow: 0px .5px 1px .8px #dbdbdb;

    .nav {
        height: $header-height;

        @include flex-center(false);
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;

        img {
            &.instagram-logo {
                padding-top: .5rem;
            }

            &.principal-user-image {
                width: 25px;
                height: 25px;
                border-radius: 50%;

                display: none;
            }
        }

        i {
            font-size: 1.5rem;
            font-weight: 500;
        }

        .icon {
            &-home, &-plus-square-o , &-compass, &-heart-o {
                display: none;
            }
        }

        .search-box {
            display: none;
            padding: .65rem;
            background: $background-input-color;
            border-radius: 8px;

            i {
                font-size: 1rem;
                color: rgb(158, 158, 158);
            }

            input {
                outline: none;
                border: none;
                background: $background-input-color;

                &::placeholder {
                    color: rgb(158, 158, 158);
                }

                &::-webkit-search-cancel-button {
                    filter: grayscale(10);
                    font-size: 1rem;
                }
            }
        }

        .icon-messenger {
            width: 1.4rem;
            max-height: 1.4rem;
            cursor: pointer;


            &:active {
                opacity: .7;
            }
        }       
    }
}