#header {
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
    box-shadow: 0px .5px 1px .8px #dbdbdb;

    .nav {
        height: $header-height;

        @include flex-center(false);
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;

        img {
            cursor: pointer;
            padding: .2rem;

            &:nth-child(1) {
                width: 2rem;
            }

            &:nth-child(3) {
                width: 1.8rem;
            }
        }
    }
}