@media (min-width: 650px) {
    #header {
        .nav   {
            img {
                &.instagram-logo {
                    padding-left: 0;
                }

                &.principal-user-image {
                    display: block;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                }
            }    

            .header-interactions {
                display: grid;
                grid-template-columns: 1.1fr 0.9fr;
                grid-template-rows: auto;
                justify-content: flex-end;
                flex-grow: 2;
                gap: 1.5rem;
                padding-left: 1.5rem;
        
                .search-box {
                    width: 100%;
                    max-width: 270px;
                    @include flex-center(false);
                    flex-grow: 2;
                    gap: .75rem;
                    justify-self: flex-end;
        
                    input {
                        width: 100%;
                    }
                }
        
                .header-icons {
                    @include flex-center(false);
                    gap: 1.35rem;
                    justify-self: flex-end;
                }
            }          
        
            i {
                &.icon {
                    &-camera {
                        display: none;
                    }
        
                    &-home, &-plus-square-o, &-heart-o, &-compass {
                        display: inline;
                    }
                }
            }
        }
    }

    .sp-box {
        margin-top: 5.5rem;
    }

    #stories,
    #posts {
        max-width: 600px;
        border-radius: 3px;
    }

    #stories {
        margin-top: 0;
        overflow: hidden;
        border-top: 1px solid $grey-border-color;
    }

    .stories-btn {
        @include flex-center(true);
    }

    #posts {
        gap: 1rem;
        margin-bottom: 1.5rem;

        .post {
            border: 1px solid $grey-border-color;
            padding-bottom: .5rem;
        }
    }

    #navigation-footer {
        display: none;
    }
}

@media (min-width: 735px) {
    #post-options ul {
        width: 400px;
    }
}

@media (min-width: 975px) {
    #header .nav {
        max-width: 924px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .sp-box {
        max-width: 924px;
        grid-template-columns: 600px 300px;
        grid-template-rows: auto auto;
        row-gap: 1.45rem;
        grid-template-areas: 'stories user-recommendations' 'posts user-recommendations';
        column-gap: 1.5rem;
    }

    #user-recommendations {
        display: block;
    }
}
