@media (min-width: 650px) {
    #header .nav {   
        img {
            &.instagram-logo {
                padding-left: 0;
            }

            &.principal-user-image {
                display: block;
                width: 25px;
                height: 25px;
                border-radius: 50%;
            }
        }

        
        
        .header-interactions {
            display: grid;
            grid-template-columns: 1.1fr 0.9fr;
            grid-template-rows: auto;
            justify-content: flex-end;
            flex-grow: 2;
            gap: 1.5rem;
            padding-left: 1.5rem;

            .search-box {
                width: 100%;
                max-width: 270px;
                @include flex-center(false);
                flex-grow: 2;
                gap: .75rem;
                justify-self: flex-end;

                input {
                    width: 100%;
                }
            }

            .header-icons {
                @include flex-center(false);
                gap: 1.35rem;
                justify-self: center;
            }
        }

        

        i {
            &.icon {
                &-camera {
                    display: none;
                }

                &-home, &-plus-square-o, &-heart-o, &-compass {
                    display: inline;
                }

                &-plus-square-o {
                    font-size: 1.75rem;
                }
            }
        }
    }

    #stories,
    #posts {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 3px;
    }

    #stories {
        margin-top: 4.5rem;
        margin-bottom: 1.5rem;
        background-color: white;
        border: 1px solid $grey-border-color;
    }

    .stories-buttons-div {
        display: block;
        width: 600px;
        left: 50%;
        top: 4.5rem;
        transform: translate(-50%, 0);
        visibility: visible;
        opacity: 1;
    }

    #posts {
        gap: 1rem;
        margin-bottom: 1.5rem;

        .post {
            border: 1px solid $grey-border-color;
            padding-bottom: .5rem;
        }
    }

    #navigation-footer {
        display: none;
    }
}

@media (min-width: 975px) {
    #header .nav {
        max-width: 975px;
        margin-left: auto;
        margin-right: auto;

        .header-interactions {
            
        
            .search-box {
            }
            
            .header-icons {
                
                
            }
        }
    }
}
