#navigation-footer {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    z-index: 100;
    background-color: white;
    border-top: 1px solid $grey-border-color;

    div {
        padding: 0.2rem 0.25rem 0.2rem 0;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 2fr auto;
        align-items: center;
        border-bottom: 1px solid $grey-border-color;

        p {
            padding: 0;
            justify-self: center;
            cursor: pointer;
            color: $blue-color;
            font-size: 0.9rem;
            font-weight: 700;
        }

        i {
            width: min-content;
            justify-self: end;
        }
    }

    .nav {
        height: 40px;
        @include flex-center(false);
        justify-content: space-between;
        padding: 0 1rem;

        img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            cursor: pointer;
        }

        i {
            font-size: 1.5rem;
        }
    }
}
