#posts {
    margin-bottom: calc(45px + 35px);
    display: flex;
    flex-direction: column;
    background-color: $background-insta-color;
}

.post {
    background-color: white;
    padding-bottom: 2rem;

    .user {
        @include flex-center(false);
        justify-content: space-between;
        height: 60px;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        border-bottom: 1px solid #dbdbdb42;

        .image-name-user {
            @include flex-center(false);
            gap: 1rem;

            .colored-image-box {
                @include colored-image-box(32, 5);

                img {
                    width: 32px;
                    height: 32px;
                    position: relative;
                    outline: 1px solid white;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }

            .users-post {
                position: relative;
                width: 40px;

                img {
                    width: 27px;
                    height: 27px;
                    border-radius: 50%;
                    position: absolute;

                    &:nth-child(1) {
                        top: -20px;
                        left: 0px;
                    }

                    &:nth-child(2) {
                        left: 10px;
                        top: -10px;
                    }
                }
            }

            .userName {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                p {
                    font-weight: 400;
                    font-size: 0.9rem;
                    cursor: pointer;

                    &:nth-child(2) {
                        padding-top: 0.25rem;
                        font-size: 0.7rem;
                        font-weight: 400;
                    }

                    span {
                        font-weight: 600;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .fa-ellipsis-h {
            justify-self: flex-end;
            font-size: 1rem;
            opacity: 0.9;
        }

        i {
            font-size: 1.5rem;
        }
    }

    .post-image {
        width: 100%;
        height: auto;
    }

    .interaction {
        @include flex-center(false);
        justify-content: space-between;

        padding: 0.5rem 1.25rem;

        div {
            @include flex-center(false);
            gap: 1.25rem;

            i.fas {
                color: rgb(237, 73, 86);
            }
        }

        i {
            font-size: 1.35rem;
            transition: color 0.1s ease-in;

            &:hover {
                opacity: 0.5;
            }

            &.fas {
                color: $text-color;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .comments {
        padding: 0.25rem 1.25rem;

        .likes {
            font-size: .9rem;
            font-weight: 500;
            letter-spacing: 0px;
            padding-bottom: 0.75rem;
        }

        .user-comment {
            font-size: 0.95rem;
            padding-bottom: 0.5rem;

            span {
                font-weight: 500;
                cursor: pointer;
                padding-right: 0.35rem;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .see-all-comments {
            padding-bottom: 0.75rem;
            font-size: 0.9rem;
            opacity: 0.75;
            cursor: pointer;

            &:active {
                opacity: 0.5;
            }
        }

        .post-time {
            font-size: 0.7rem;
            font-weight: 400;
            text-transform: uppercase;
            opacity: 0.7;
        }
    }
}
