#stories::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#stories {
    padding: 1rem 0.5rem 0.75rem 1rem;
    position: relative;
    margin-top: $header-height;
    border-top: none;
    border-bottom: 1px solid #dbdbdb42;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow-x: scroll;
    background-color: $background-insta-color;
    scroll-behavior: smooth;

    @include flex-center(false);
    gap: 1.35rem;

    .user {
        cursor: pointer;
    }

    .colored-image-box {
        @include colored-image-box(54, 8);

        img {
            width: 54px;
            height: 54px;
            outline: 2px solid white;
            border-radius: 50%;
            position: relative;
        }
    }

    p {
        font-size: 0.7rem;
        text-align: center;
        padding-top: 0.5rem;
    }
}

.stories-buttons-div {
    width: 100%;
    position: absolute;
    top: $header-height;
    z-index: 11;
    display: none;
    


    .stories-btn {
        width: 30px;
        height: 30px;
        @include flex-center(true);
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 11;
        background-color: white;
        color: black;
        font-size: 1.25rem;
        border-radius: 50%;
        box-shadow: 1px 1px 5px #272727ab;
    }

    .stories-btn-left {
        left: 4%;
    }

    .stories-btn-right {
        right: 4%;
    }

    .stories-btn-disappear {
        visibility: hidden;
        opacity: 0;
    }
}
