#stories::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#stories {
    padding: 1rem .5rem .75rem 1rem;
    position: relative;
    margin-top: $header-height;
    border-top: none;
    border-bottom: 1px solid #dbdbdb;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow-x: scroll;
    background-color: $background-insta-color;
    scroll-behavior: smooth;

    @include flex-center(false);
    gap: 1.35rem;

    .user {
        cursor: pointer;
        
    }

    .colored-image-box {
        @include colored-image-box(60, 8);
    
        
        img {
            width: 60px;
            height: 60px;
            outline: 2px solid white;
            border-radius: 50%;
            position: relative;
        }
    }

    p {
        font-size: .70rem;
        text-align: center;
        padding-top: .5rem;
    }
}

.stories-buttons-div {
    width: 100%;
    position: absolute;
    top: $header-height;
    left: 0;

    .stories-btn {
        width: 30px;
        height: 30px;
        @include flex-center(true);
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 10;
        background-color: white;
        color: black;
        border-radius: 50%;
        font-size: 1.25rem;
        visibility: visible;
        opacity: 1;
    }
    
    .stories-btn-left {
        left: 5%;
    }
    
    .stories-btn-right {
        right: 5%;
    }

    .stories-btn-disappear {
        visibility: hidden;
        opacity: 0;
    }
}
