* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
}

p {
  color: #262626;
}

i {
  cursor: pointer;
  color: #262626;
}

i:active {
  opacity: .6;
}

.text-active-opacity {
  cursor: pointer;
}

.text-active-opacity:active {
  cursor: pointer;
  opacity: .7;
}

#header {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
}

#header .nav {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: .75rem;
  padding-right: .75rem;
}

#header .nav img {
  margin-right: .75rem;
}

#header .nav .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#header .nav .icons img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 0;
  cursor: pointer;
}

#header .nav .icons i {
  font-size: 1.35rem;
  cursor: pointer;
}

#stories::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#stories {
  padding: 1rem .5rem .75rem 1rem;
  position: relative;
  margin-top: 60px;
  border: 1px solid #dbdbdb;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow-x: scroll;
  background-color: white;
  scroll-behavior: smooth;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.35rem;
}

#stories .user {
  cursor: pointer;
}

#stories .colored-image-box {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
}

#stories .colored-image-box::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border-radius: 50%;
  background: linear-gradient(45deg, #f89b4f, #c92e8e);
}

#stories .colored-image-box img {
  width: 60px;
  height: 60px;
  outline: 2px solid white;
  border-radius: 50%;
  position: relative;
}

#stories p {
  font-size: .70rem;
  text-align: center;
  padding-top: .5rem;
}

.stories-buttons-div {
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
}

.stories-buttons-div .stories-btn {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 10;
  background-color: white;
  color: black;
  border-radius: 50%;
  font-size: 1.25rem;
  visibility: visible;
  opacity: 1;
}

.stories-buttons-div .stories-btn-left {
  left: 5%;
}

.stories-buttons-div .stories-btn-right {
  right: 5%;
}

.stories-buttons-div .stories-btn-disappear {
  visibility: hidden;
  opacity: 0;
}

#posts {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  background-color: #fafafa;
}

.post {
  background-color: white;
}

.post .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.post .user .image-name-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.post .user .image-name-user .colored-image-box {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
}

.post .user .image-name-user .colored-image-box::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  border-radius: 50%;
  background: linear-gradient(45deg, #f89b4f, #c92e8e);
}

.post .user .image-name-user img {
  width: 32px;
  height: 32px;
  position: relative;
  outline: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.post .user .image-name-user .userName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.post .user .image-name-user .userName p {
  font-weight: 500;
  font-size: .9rem;
  cursor: pointer;
}

.post .user .image-name-user .userName p:nth-child(1):hover {
  text-decoration: underline;
}

.post .user .image-name-user .userName p:nth-child(2) {
  padding-top: .25rem;
  font-size: .70rem;
  font-weight: 400;
}

.post .user .fa-ellipsis-h {
  justify-self: flex-end;
  font-size: 1rem;
  opacity: .9;
}

.post .user i {
  font-size: 1.5rem;
}

.post-image {
  width: 100%;
  height: auto;
}

.interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem 1.25rem;
}

.interaction div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.interaction div i.fas {
  color: #ed4956;
}

.interaction i {
  font-size: 1.35rem;
  -webkit-transition: color .1s ease-in;
  transition: color .1s ease-in;
}

.interaction i:hover {
  opacity: .5;
}

.interaction i.fas {
  color: #262626;
}

.interaction i.fas:hover {
  opacity: 1;
}

.comments {
  padding: .25rem 1.25rem;
}

.comments .likes {
  font-weight: 500;
  letter-spacing: 0px;
  padding-bottom: .75rem;
}

.comments .user-comment {
  padding-bottom: .5rem;
}

.comments .user-comment span {
  font-weight: 500;
  cursor: pointer;
}

.comments .user-comment span:hover {
  text-decoration: underline;
}

.comments .see-all-comments {
  padding-bottom: .75rem;
  font-size: .9rem;
  opacity: .75;
  cursor: pointer;
}

.comments .see-all-comments:active {
  opacity: .5;
}

.comments .post-time {
  font-size: .7rem;
  font-weight: 400;
  text-transform: uppercase;
  opacity: .7;
}
/*# sourceMappingURL=main.css.map */