* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  position: relative;
  overflow: visible;
}

body {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
}

p {
  color: #262626;
}

i {
  cursor: pointer;
  color: #262626;
}

i:active {
  opacity: .6;
}

.text-active-opacity {
  cursor: pointer;
}

.text-active-opacity:active {
  cursor: pointer;
  opacity: .7;
}

#header {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
}

#header .nav {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

#header .nav img.instagram-logo {
  padding-top: .5rem;
  cursor: pointer;
}

#header .nav img.principal-user-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

#header .nav i {
  font-size: 1.5rem;
  font-weight: 500;
}

#header .nav .icon-home, #header .nav .icon-plus-square-o, #header .nav .icon-compass, #header .nav .icon-heart-o {
  display: none;
}

#header .nav .icon-plus-square-o {
  font-size: 1.75rem;
}

#header .nav .search-box {
  display: none;
  padding: .65rem;
  background: #f1f1f1;
  border-radius: 8px;
}

#header .nav .search-box i {
  font-size: 1rem;
  color: #9e9e9e;
}

#header .nav .search-box input {
  outline: none;
  border: none;
  background: #f1f1f1;
}

#header .nav .search-box input::-webkit-input-placeholder {
  color: #9e9e9e;
}

#header .nav .search-box input:-ms-input-placeholder {
  color: #9e9e9e;
}

#header .nav .search-box input::-ms-input-placeholder {
  color: #9e9e9e;
}

#header .nav .search-box input::placeholder {
  color: #9e9e9e;
}

#header .nav .search-box input::-webkit-search-cancel-button {
  -webkit-filter: grayscale(10);
          filter: grayscale(10);
  font-size: 1rem;
}

#header .nav .icon-messenger {
  width: 1.4rem;
  max-height: 1.4rem;
  cursor: pointer;
}

#header .nav .icon-messenger:active {
  opacity: .7;
}

.sp-box {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 650px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  row-gap: 1.45rem;
      grid-template-areas: 'stories' 'posts';
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#stories::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#stories {
  padding: 1rem 0.5rem 0.75rem 1rem;
  position: relative;
  margin-top: 60px;
  border-top: none;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow-x: scroll;
  background-color: white;
  scroll-behavior: smooth;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: stories;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.35rem;
}

#stories .user {
  position: relative;
  cursor: pointer;
}

#stories .colored-image-box {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  position: relative;
}

#stories .colored-image-box::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border-radius: 50%;
  background: linear-gradient(45deg, #f89b4f, #c92e8e);
}

#stories .colored-image-box img {
  width: 54px;
  height: 54px;
  outline: 2px solid white;
  border-radius: 50%;
  position: relative;
}

#stories p {
  font-size: 0.7rem;
  text-align: center;
  padding-top: 0.5rem;
  max-width: 54px;
}

#posts {
  width: 100%;
  margin-bottom: calc(40px + 35px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafa;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: posts;
  position: relative;
}

.post {
  background-color: white;
  padding-bottom: 2rem;
}

.post .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-bottom: 1px solid #dbdbdb42;
}

.post .user .image-name-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.post .user .image-name-user .colored-image-box {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
}

.post .user .image-name-user .colored-image-box::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  border-radius: 50%;
  background: linear-gradient(45deg, #f89b4f, #c92e8e);
}

.post .user .image-name-user .colored-image-box img {
  width: 32px;
  height: 32px;
  position: relative;
  outline: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.post .user .image-name-user .users-post {
  position: relative;
  width: 40px;
}

.post .user .image-name-user .users-post img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  position: absolute;
}

.post .user .image-name-user .users-post img:nth-child(1) {
  top: -20px;
  left: 0px;
}

.post .user .image-name-user .users-post img:nth-child(2) {
  left: 10px;
  top: -10px;
}

.post .user .image-name-user .userName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.post .user .image-name-user .userName p {
  font-weight: 400;
  font-size: 0.9rem;
  cursor: pointer;
}

.post .user .image-name-user .userName p:nth-child(2) {
  padding-top: 0.25rem;
  font-size: 0.7rem;
  font-weight: 400;
}

.post .user .image-name-user .userName p span {
  font-weight: 600;
}

.post .user .image-name-user .userName p span:hover {
  text-decoration: underline;
}

.post .user i {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
}

.post .post-image {
  width: 100%;
  height: auto;
}

.post .interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1.25rem;
}

.post .interaction div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.post .interaction div i.icon-heart {
  color: #ed4956;
}

.post .interaction div i.icon-heart:hover {
  opacity: 1;
}

.post .interaction i {
  font-size: 1.5rem;
  font-weight: 500;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}

.post .interaction i:hover {
  opacity: 0.5;
}

.post .interaction i.icon-bookmark {
  color: #262626;
}

.post .interaction i.icon-bookmark:hover {
  opacity: 1;
}

.post .comments {
  padding: 0.25rem 1.25rem;
}

.post .comments .likes {
  font-size: .9rem;
  font-weight: 500;
  letter-spacing: 0px;
  padding-bottom: 0.75rem;
}

.post .comments .user-comment {
  font-size: 0.95rem;
  padding-bottom: 0.5rem;
}

.post .comments .user-comment span {
  font-weight: 500;
  cursor: pointer;
  padding-right: 0.35rem;
}

.post .comments .user-comment span:hover {
  text-decoration: underline;
}

.post .comments .see-all-comments {
  padding-bottom: 0.75rem;
  font-size: 0.9rem;
  opacity: 0.75;
  cursor: pointer;
}

.post .comments .see-all-comments:active {
  opacity: 0.5;
}

.post .comments .post-time {
  font-size: 0.7rem;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.7;
}

.stories-btn {
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 12;
  top: -4.8rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: white;
  color: black;
  font-size: 1rem;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 5px #272727ab;
          box-shadow: 1px 1px 5px #272727ab;
  display: none;
}

.stories-btn-left {
  left: 2%;
}

.stories-btn-right {
  right: 2%;
}

.stories-btn-disappear {
  visibility: hidden;
  opacity: 0;
}

#post-options {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  background-color: rgba(39, 39, 39, 0.7);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#post-options ul {
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1px;
  margin: 1rem 0;
  background-color: #dbdbdb;
  list-style: none;
  border-radius: 12px;
  overflow: hidden;
}

#post-options ul li {
  background-color: white;
  text-align: center;
}

#post-options ul li:nth-child(1) a, #post-options ul li:nth-child(2) a {
  color: #ED4956;
  font-weight: 700;
}

#post-options ul li a {
  pointer-events: all;
  width: 100%;
  display: inline-block;
  padding: .9rem 0;
  text-decoration: none;
  color: #262626;
  font-size: .875rem;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

#post-options ul li a:active {
  background-color: #dbdbdb;
}

#user-recommendations {
  display: none;
  max-width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fafafa;
  grid-area: user-recommendations;
  position: -webkit-sticky;
  position: sticky;
  top: 5.5rem;
}

#user-recommendations .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: .75rem;
  padding: 1rem 0 1.25rem;
}

#user-recommendations .user img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

#user-recommendations .user p:nth-child(2) span:nth-child(1) {
  display: block;
  font-size: .85rem;
  font-weight: 500;
  cursor: pointer;
}

#user-recommendations .user p:nth-child(2) span:nth-child(1):hover {
  text-decoration: underline;
}

#user-recommendations .user p:nth-child(2) span:nth-child(2) {
  font-size: .90rem;
  opacity: .7;
}

#user-recommendations .user p:nth-child(3) {
  color: #0094f6;
  font-size: .85rem;
  font-weight: 500;
  cursor: pointer;
}

#user-recommendations .suggestion-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#user-recommendations .suggestion-text p {
  display: inline-block;
}

#user-recommendations .suggestion-text p:nth-child(1) {
  font-size: .85rem;
  font-weight: bold;
  opacity: .5;
}

#user-recommendations .suggestion-text p:nth-child(2) {
  font-size: .75rem;
  font-weight: 600;
  cursor: pointer;
}

#user-recommendations .suggestions {
  width: 100%;
}

#user-recommendations .suggestions .user-suggestion {
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  margin: .75rem 0;
}

#user-recommendations .suggestions .user-suggestion img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

#user-recommendations .suggestions .user-suggestion p {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#user-recommendations .suggestions .user-suggestion p span:nth-child(1) {
  font-size: .85rem;
  font-weight: 500;
  cursor: pointer;
}

#user-recommendations .suggestions .user-suggestion p span:nth-child(1):hover {
  text-decoration: underline;
}

#user-recommendations .suggestions .user-suggestion p span:nth-child(2) {
  font-size: .80rem;
  opacity: .6;
}

#user-recommendations .suggestions .user-suggestion .follow {
  color: #0094f6;
  font-size: .85rem;
  font-weight: 500;
  cursor: pointer;
}

#user-recommendations .help {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  opacity: .3;
  font-size: .8rem;
}

#user-recommendations .help p:nth-child(1) {
  cursor: default;
}

#user-recommendations .help p:nth-child(2) {
  text-transform: uppercase;
  font-weight: 600;
}

#user-recommendations .help a {
  text-decoration: none;
}

#user-recommendations .help a:active {
  color: black;
  opacity: .5;
}

#navigation-footer {
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  z-index: 100;
  background-color: white;
  border-top: 1px solid #dbdbdb;
}

#navigation-footer div {
  padding: 0.2rem 0.25rem 0.2rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 2fr auto;
      grid-template-columns: 2fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dbdbdb;
}

#navigation-footer div p {
  padding: 0;
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
  color: #0094f6;
  font-size: 0.9rem;
  font-weight: 700;
}

#navigation-footer div i {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -ms-grid-column-align: end;
      justify-self: end;
}

#navigation-footer .nav {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}

#navigation-footer .nav img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

#navigation-footer .nav i {
  font-size: 1.5rem;
}

@media (min-width: 650px) {
  #header .nav img.instagram-logo {
    padding-left: 0;
  }
  #header .nav img.principal-user-image {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  #header .nav .header-interactions {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.1fr 0.9fr;
        grid-template-columns: 1.1fr 0.9fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    gap: 1.5rem;
    padding-left: 1.5rem;
  }
  #header .nav .header-interactions .search-box {
    width: 100%;
    max-width: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    gap: .75rem;
    justify-self: flex-end;
  }
  #header .nav .header-interactions .search-box input {
    width: 100%;
  }
  #header .nav .header-interactions .header-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.35rem;
    justify-self: flex-end;
  }
  #header .nav i.icon-camera {
    display: none;
  }
  #header .nav i.icon-home, #header .nav i.icon-plus-square-o, #header .nav i.icon-heart-o, #header .nav i.icon-compass {
    display: inline;
  }
  .sp-box {
    margin-top: 5.5rem;
  }
  #stories,
  #posts {
    max-width: 600px;
    border-radius: 3px;
  }
  #stories {
    margin-top: 0;
    overflow: hidden;
    border-top: 1px solid #dbdbdb;
  }
  .stories-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #posts {
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  #posts .post {
    border: 1px solid #dbdbdb;
    padding-bottom: .5rem;
  }
  #navigation-footer {
    display: none;
  }
}

@media (min-width: 735px) {
  #post-options ul {
    width: 400px;
  }
}

@media (min-width: 975px) {
  #header .nav {
    max-width: 924px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .sp-box {
    max-width: 924px;
    -ms-grid-columns: 600px 300px;
        grid-template-columns: 600px 300px;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    row-gap: 1.45rem;
        grid-template-areas: 'stories user-recommendations' 'posts user-recommendations';
    -webkit-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
  #user-recommendations {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */